body {
  width: 100%;
  margin-right: 0px;
}

h1.my-projects {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
  color: gray;
  font-style: italic;
}

#title {
  color: red;
  margin-bottom: 2000px;
}
h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
  color: gray;
  font-style: italic;
}

.content:hover {
  box-shadow: 0 8px 16px 0 green;
}
/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
  .my-projects {
    width: 50%;
  }
  .coming-soon {
    margin-top: -500px;
  }
}
/* styling the projects cards*/

.the-card:hover {
  box-shadow: 0 8px 16px 0 teal;
}

.the-container {
  padding: 15px 36px;
}

.the-card {
  float: right;
  width: 20%;
  padding: 0px;
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 30px;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 grey;
  color: grey;
  font-size: 10px;
}

button {
  background-color: teal;
  float: right;
  margin: 15px;
  border-radius: 12px;
}

.my-card- {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 grey;
}
/* Add some padding inside the card container */

.my-container {
  padding: 2px 16px;
}

.foot {
  width: 300%;
  margin-top: 70px;
  margin-left: -63px;
  margin-bottom: -90px;
}

em {
  color: white;
  margin-left: 20px;
  margin-bottom: 40px;
}

.copy {
  margin-top: 30px;
}

  em {
    display: none;
  }
}

.coming-soon {
  margin-top: -500px;
  float: inherit;
}
