body {
  width: 100%;
  margin-right: 0px;
}

.pricing-table {
  max-width: 2500px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.col {
  flex: 25%;
  padding: 50px;
  max-width: 600px;
  box-sizing: border-box;
  padding: 30px;
}

.table {
  background: teal;
  padding: 40px 20px;
  font-family: "montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.table:hover {
  box-shadow: 0 8px 16px 0 black;
}

.table h2 {
  text-transform: uppercase;
  margin: 48px 0;
}
.table ul {
  margin: 0;
  padding: 0;
}

.table ul li {
  padding: 10px 0;
  list-style: none;
}
.price {
  font-size: 40px;
  margin-bottom: 20px;
}
.price span {
  display: block;
  font-size: 14px;
}

button {
  text-decoration: none;
  color: #a9a9a9;
  border: 2px solid yellow;
  display: inline-block;
  padding: 10px 0;
  margin: 28px 0;
  border-radius: 40px;
  text-transform: uppercase;
  font-size: 8px;
  transition: 0, 5s linear;
  width: 40%;
}
.table button:hover {
  background: teal;
  color: #fff;
}
.pop {
  background: #ffd700;
  color: #808080;
  transform: rotate(45deg);
  padding: 10px 40px;
  position: absolute;
  top: 24px;
  right: -45px;
}

@media screen and (max-width: 980px) {
  .col {
    flex: 50%;
  }
}
@media screen and (max-width: 700px) {
  .col {
    flex: 100%;
  }
}
img {
  margin: -20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: gray;
  font-style: italic;
}

.content:hover {
  box-shadow: 0 8px 16px 0 green;
}

footer {
  margin-right: -65px;
  margin-left: -65px;
}

.the-card:hover {
  box-shadow: 0 8px 16px 0 teal;
}

.my-card- {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 grey;
  padding: 2px 16px;
}
.improve {
  margin-left: -18px;
  background-size: cover;
  border-radius: 10px;
  margin-top: -6px;
}

.zero {
  margin-left: 20px;
}
.one {
  margin-left: 75px;
  margin-top: -25px;
}
.two {
  margin-left: 140px;
  margin-top: -25px;
}
.three {
  margin-left: 180px;
  margin-top: -25px;
}
